body h1 {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.date {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #008080;
}

.post-content {
    font-family: 'Open Sans', 'Arial', sans-serif;    
}

.post-container {
    background-color: #fffafa;
    text-align: left;
    margin: 0px auto;
    width: 70%;
    height: 100%;   
}   

.post {
    padding: 10 30 10 30; 
}